#define INCL_WIN
#include <os2.h>

#include "sysinfo.h"

ICON ID_MENU_RESOURCE	sysinfo.ico

MENU ID_MENU_RESOURCE	PRELOAD
BEGIN
  SUBMENU "~Display", IDM_DISPLAY, MIS_TEXT
    BEGIN
      MENUITEM "System Information",  IDM_DIS_NOTEBOOK,      MIS_TEXT
    END
  MENUITEM "E~xit", IDM_EXIT, MIS_TEXT
  SUBMENU "F1=Help", IDM_HELP, MIS_TEXT | MIS_HELP | MIS_BUTTONSEPARATOR
    BEGIN
      MENUITEM "Help for Help...", IDM_HELP_FOR_HELP
      MENUITEM "Extended Help...", SC_HELPEXTENDED,MIS_SYSCOMMAND
      MENUITEM " ",		IDM_HEL_SEP1, MIS_SEPARATOR
      MENUITEM "~About Sysinfo",  IDM_HEL_ABOUT
    END
END


HELPTABLE MAIN_HELPTABLE
BEGIN
  HELPITEM ID_MENU_RESOURCE,	 SUBTABLE_OPTION,	IDM_EXTENDED_HELP
  HELPITEM IDD_ABOUTBOX,	 SUBTABLE_OPTION,	IDD_ABOUTBOX
END

HELPSUBTABLE SUBTABLE_OPTION
BEGIN
  HELPSUBITEM	IDM_DISPLAY,            IDM_HELP_DISPLAY
  HELPSUBITEM	IDM_DIS_NOTEBOOK,       IDM_HELP_NOTEBOOK
  HELPSUBITEM	IDM_EXIT,               IDM_HELP_EXIT
  HELPSUBITEM	IDM_HELP,               IDM_HELP_HELP
  HELPSUBITEM	SC_HELPEXTENDED,        IDM_HELP_MENU_EXTENDED_HELP
  HELPSUBITEM	IDM_HELP_FOR_HELP,      IDM_HELP_HELP_FOR_HELP  
END

rcinclude sysinfo.dlg


